services:
    app:
        build:
            context: .
            dockerfile: docker/php/Dockerfile
        image: nextcareer-app
        container_name: laravel_app
        restart: unless-stopped
        working_dir: /var/www
        volumes:
            - .:/var/www
            - /var/www/vendor
            - /var/www/node_modules
        depends_on:
            - db
        expose:
            - "9000" # PHP-FPM internal port
        networks:
            - laravel
        environment:
            DB_CONNECTION: pgsql
            DB_HOST: db
            DB_PORT: 5432
            DB_DATABASE: ${DB_DATABASE}
            DB_USERNAME: ${DB_USERNAME}
            DB_PASSWORD: ${DB_PASSWORD}

    nginx:
        image: nginx:stable
        container_name: nginx_server
        restart: unless-stopped
        ports:
            - "8080:80"
        volumes:
            - .:/var/www
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - app
        networks:
            - laravel

    node:
        image: node:20
        container_name: node_build
        working_dir: /var/www
        volumes:
            - .:/var/www
        command: sh -c "npm install && npm run dev"
        ports:
            - "5173:5173"
        networks:
            - laravel

    db:
        image: postgres:16
        container_name: postgres_db
        restart: unless-stopped
        environment:
            POSTGRES_DB: ${DB_DATABASE}
            POSTGRES_USER: ${DB_USERNAME}
            POSTGRES_PASSWORD: ${DB_PASSWORD}
        volumes:
            - pgdata:/var/lib/postgresql/data
        ports:
            - "5432:5432"
        networks:
            - laravel
    reverb:
        image: nextcareer-app
        container_name: laravel_reverb
        working_dir: /var/www
        ports:
            - "8081:8081"
        volumes:
            - .:/var/www
            - /var/www/vendor
            - ./docker/supervisor/reverb.conf:/etc/supervisor/reverb.conf
        depends_on:
            - app
        networks:
            - laravel

networks:
    laravel:

volumes:
    pgdata:
